
.ant-card-body {
    padding: 15px 15px 0px 15px !important;
}

.ant-card-meta-title {
    font-size: 13px !important;
    margin: 0 0 3px 0 !important;
}

.ant-card-meta-description {
    font-size: 15px;
    font-weight: bolder;
    color: black !important;
}

.ant-row {
    display: flex;
    margin-bottom: 20px !important;
}

.card {
    width: 100%;
    border: 1px solid #e8e8e8;
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.product-description {
    display: flex;
    justify-content: space-between;
    margin: 0px !important;
    padding: 0px !important;
    border-bottom: 0px !important;
}

.product-price {
    margin-bottom: 10px !important;
}

.card-button {
    font-size: 11px;
    border-radius: 15px;
    color: rgb(110, 108, 108);
    font-weight: bold;
    background-color: #fff !important;
}

.card-button:hover {
    background-color: rgba(78, 161, 163, 0.3) !important;
    color: #009B9E !important;
    border-color: rgb(240, 237, 237) !important;
}
