
/* .content {
    padding: 0 20px;
    max-width: 1600px;
    margin: 0 auto;
}

.slider {
    padding: 0; 
}


.list-name {
    margin-bottom: 5px;
    display: block;
    font-size: 24px;
    font-weight: 600;
    color: black;
    font-family: fantasy;
    height: 50px;
    padding: 0px 10px;
}
 */

