
.content {
    max-width: 1600px;
    margin: 0 auto;
}


.list-name {
    margin-top: 10px;
    display: block;
    font-size: 24px;
    font-weight: 600;
    color: black;
    font-family: fantasy;
    height: 50px;
   
}


.ant-layout-content.content {
    padding: 0 40px;
    max-width: 1600px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .ant-layout-content.content {
        padding: 0 60px;
    }
}

@media (max-width: 414px) {
    .ant-layout-content.content {
        padding: 0 80px;
    }
}