
* {
  margin: 0;
  padding: 0;

}

.layout-container {
  overflow: hidden;
  margin: 0; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

.ant-layout {
  margin: 0 !important;
  padding: 0 !important;
}

.main-content {
  flex: 1;
}
